<template>
  <require from="../styles/bootstrap-datetimepicker.min.css"></require>

  <div class="input-group date">
    <input type="text" value.bind="value" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
</template>
